/* custom css */

#contact-form input:focus,
#contact-form textarea:focus {
    box-shadow: 0 0 0 2px rgba(90, 172, 165, 0.5);
}

/* ezt itt láttam https://www.youtube.com/shorts/ppS_i9IRkyY */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
